name: pin_code_view
description: A flutter plugin to show beautiful pin code view. A on screen keyboard is placed at the bottom of the screen and a code view with blocks are added on the top of the screen.
version: 0.0.3
author: Aawaz Gyawali <awazgyawali@gmail.com>
homepage: https://github.com/awazgyawali/pin_code_view

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
